:root {
  --font-family: "Poppins", sans-serif;
  --Purple: hsl(259, 100%, 65%);
  --Light-red: #ff5757;
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Light-grey);
}
footer {
  padding-top: 1rem;
}
.card {
  background-color: var(--White);
  width: 600px;
  border-radius: 1rem 1rem 10rem;
}

.card_info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
}

.card_form {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.card_block {
  display: flex;
  flex-direction: column;
}

label {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--Smokey-grey);
  letter-spacing: 4px;
  font-size: 0.8rem;
  padding-left: 0.2rem;
}

input {
  width: 6.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Light-grey);
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

input::placeholder {
  font-size: 1.5rem;
  font-weight: 800;
}

.card_submit {
  display: flex;
  align-items: center;
}
.card_submit hr {
  width: 100%;
}

.card_submit .submit_btn {
  border-radius: 50%;
  padding: 1rem;
  background-color: var(--Purple);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outputData h1 {
  font-size: 4rem;
  font-weight: 800;
  font-style: italic;
  height: fit-content;
}
.outputData span {
  color: var(--Purple);
}

small {
  color: var(--Light-red);
}
@media screen and (max-width: 600px) {
  .card {
    width: 360px;
  }

  .card_info {
    padding: 1rem;
  }

  .card_form {
    margin-bottom: 5rem;
    gap: 0;
    justify-content: space-between;
  }

  .card_submit {
    position: relative;
  }

  .submit_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .outputData {
    margin-top: 3rem;
  }

  .outputData h1 {
    font-size: 2.5rem;
  }
}
